*.form-field {
  width: 12cm;
  margin-bottom: 20px;
  margin-left: 36px;
}
*.form-control {
  border-radius: 14px;
  height: 45px;
  border-color: rgb(112, 60, 112);
}
*.form-label {
  font-size: 18px;
}

#male,
#female {
  margin-left: 0px;
  width: 50px;
  height: 1.1em;
  border-color: rgb(112, 60, 112);
}
#lmale,
#lfemale {
  margin-left: 35px;
}
#shortform {
  margin-left: 8.5cm;
  margin-top: 4cm;
}
.error {
  color: red;
}
#x,
#xii,
#ug {
  margin-left: 20px;
  height: 16px;
  width: 16px;
}
#xl,
#xiil,
#ugl {
  margin-left: 40px;
}
#shortform {
  background-image: url("grey.jpg");
  width: 14cm;
  padding-top: 20px;
  border-radius: 20px;
  margin-top: 85px;
}
#check {
  border-color: rgb(112, 60, 112);
}
#submit {
  margin-bottom: 20px;
  height: 54px;
  width: 120px;
  border-radius: 24px;
  margin-top: 20px;
  margin-left: 210px;
  background-color: rgb(112, 60, 112);
  border-color: rgb(112, 60, 112);
}
#slide {
  border: 1px solid black;
}
